:root{
    --cor-fundo:#479de4;
    --cor-principa:#8300ee;
    --cor-secundaria:#ffffff;
    --cor-destaque:#ff0000;
    --cor-texto:#d1007a;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    min-height: 100vw;
}